<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Buggy Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="templates/style.css">
</head>
<body>
    <ul>
        <li style="float: left"><a style="font-weight: bold; font-size: 20px;" href="/">Buggy Store</a></li>
        {{if .Auth}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        {{end}}
    </ul>
    <div class="products">
        <div class="card green">
            <img src="../img/buggy.png" style="width: 100%;">
            <div class="buggy">
                <h4 id="name">Super Buggy</h4>
                <h5 id="name">Such awesome!</h5>
            </div>
        </div>
        <div class="card blue">
            <img src="../img/buggy.png" style="width: 100%;">
            <div class="buggy">
                <h4 id="name">Mega Buggy</h4>
                <h5 id="name">Such awesome!</h5>
            </div>
        </div>
        <div id="overlay">
            <a id="overlay-text">Coming soon!</a>
            <div class="card red disabled">
                <img src="../img/buggy.png" style="width: 100%;">
                <div class="buggy">
                    <h4 id="name">Hyper Buggy</h4>
                    <h5 id="name">Such awesome!</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

