<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Buggy Store | Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="templates/style.css">
</head>
<body>
<div style="text-align:center">
    <ul>
        <li style="float: left"><a style="font-weight: bold; font-size: 20px;" href="/">Buggy Store</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <h1>Hello {{.User.Username}}!</h1>
</div>
</body>
</html>

